body{
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
}

.nav {
 background-color: black ;
 color: #FFFFFF;
 text-align: center;
 padding: 20px 0 20px 0;
    
}

.nav > li{
    display:inline-block;
    padding-right: 50px;
    margin-left:20px
}

.nav > li > a{
    text-decoration: none;
    color: #FFFFFF;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
.column {
    margin-left: 50px;
    margin-bottom: 10px;
    align-content: center;

}

.title {
    text-align: center;
}

.videoyt {
    margin-bottom: 50px;
}
.loginform{
    text-align: right;
}
.php{
    text-align: right;
}
.playlist{
    margin-left: 20px;
    margin-bottom: 20px;
}
.loginbody{
    text-align: center;
}

article.kant1 {
    display:inline-block;

    width:40%;
    padding-right:10px;
    vertical-align:top;
}

input.box , select.combo {
    float:right;
}

input.radio1 , input.radio2 {


}

article.kant1 {
    display:inline-block;
    width:40%;
    padding-right:50px;
    vertical-align:top;
}

article.kant2{
    text-align: left;
    padding-left:100px;
}

div.knop{

    padding-left:100px;
}
div.geslacht {
    float:right;
}